@{
    ViewData["Title"] = "Details Page";
}

@model List<Quote>
<div class="text-center">
    <h1>Details Page</h1>
    <hr />
    
 
    @foreach (var x in Model)
    {
        <h4>"@x.QuoteSentence"</h4>
        <p><strong>Author Name:</strong> @x.Author</p>
        <p><strong>Date:</strong> @x.Date</p>
        <p><strong>Subject:</strong> @x.Subject</p>
        <p><strong>Citation:</strong> @x.Citation</p>

        <a asp-controller="Home" asp-action="Delete" asp-route-QuoteIDNumber="@x.QuoteID" class="btn btn-danger">Delete Quote</a>
        <br />
        <br />
        <a asp-controller="Home" asp-action="Edit" asp-route-QuoteIDNumber="@x.QuoteID" class="btn btn-info">Edit Quote Information</a>
    }
</div>